<launch>
 <!-- Params -->
  <arg name="place" default="cabrera.yaml"/>
  <arg name="enableIquaASV" default="true"/>
  <arg name="enableIquaAUV" default="false"/>
  <arg name="enableRviz" default="true"/>
  <arg name="enableCollisonAvoidance" default="false"/>
  <arg name="enableCommunicationModule" default="true"/>

  <!-- General robots information -->
  <arg name="robot_0" default="robot0"/>  <!--AUV0-->
  <arg name="robot_1" default="robot1"/>  <!--AUV1-->
  <arg name="robot_2" default="robot2"/>  <!--AUV2-->
  <arg name="robot_3" default="robot3"/>  <!--AUV3-->
  <arg name="robot_4" default="robot4"/>  <!--AUV4-->
  <arg name="robot_5" default="robot5"/>  <!--AUV5-->
  <arg name="robot_6" default="robot6"/>  <!--ASV-->

  <!-- Launch the AUV Simulation -->
  <include  file="$(find multi_robot_system)/launch/turbot_simulation.launch">
    <arg name="place" value="$(arg place)"/>
    <arg name="robot0_name" value="$(arg robot_0)"/>
    <arg name="robot1_name" value="$(arg robot_1)"/>
    <arg name="robot2_name" value="$(arg robot_2)"/>
    <arg name="robot3_name" value="$(arg robot_3)"/>
    <arg name="robot4_name" value="$(arg robot_4)"/>
    <arg name="robot5_name" value="$(arg robot_5)"/>
  </include>

  <!-- Launch the ASV Simulation -->
  <include  file="$(find cola2_xiroi)/launch/simulation.launch">
    <arg name="enableIqua" value="$(arg enableIquaASV)"/>
    <arg name="place" value="$(arg place)"/>
    <arg name="robot_name" value="$(arg robot_6)"/>
  </include>

  <group ns="/mrs">

    <!-- load the multi_robot_system.yaml parameters file -->
    <rosparam command="load" file="$(find multi_robot_system)/config/multi_robot_system.yaml"/>

    <!-- divide the exploration area, this script should be executed at the begining. Then the area information will be stored in a file -->
    <!-- <node name="polygon_division" pkg="multi_robot_system" type="polygon_division.py" respawn="true"/> -->

  
    <!-- Robot 0-->
    <node name="multi_robot_system_$(arg robot_0)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="0"/>
      <param name="robot_name" value="$(arg robot_0)"/>
      <param name="battery_topic" value="/$(arg robot_0)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_0)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_0)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_0)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_0)/task_monitoring"/>
    </node>

    <!-- Robot 1 -->
    <node name="multi_robot_system_$(arg robot_1)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="1"/>
      <param name="robot_name" value="$(arg robot_1)"/>
      <param name="battery_topic" value="/$(arg robot_1)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_1)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_1)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_1)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_1)/task_monitoring"/>
    </node>

    <!-- Robot 2 -->
    <node name="multi_robot_system_$(arg robot_2)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="2"/>
      <param name="robot_name" value= "$(arg robot_2)"/>
      <param name="battery_topic" value="/$(arg robot_2)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_2)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_2)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_2)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_2)/task_monitoring"/>
    </node>

    <!-- Robot 3 -->
    <node name="multi_robot_system_$(arg robot_3)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="3"/>
      <param name="robot_name" value= "$(arg robot_3)"/>
      <param name="battery_topic" value="/$(arg robot_3)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_3)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_3)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_3)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_3)/task_monitoring"/>
    </node>

    <!-- Robot 4 -->
    <node name="multi_robot_system_$(arg robot_4)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="4"/>
      <param name="robot_name" value= "$(arg robot_4)"/>
      <param name="battery_topic" value="/$(arg robot_4)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_4)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_4)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_4)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_4)/task_monitoring"/>
    </node>

    <!-- Robot 5 -->
    <node name="multi_robot_system_$(arg robot_5)" pkg="multi_robot_system" type="multirobot_system.py" output="screen" respawn="true">
      <param name="robot_ID" value="5"/>
      <param name="robot_name" value= "$(arg robot_5)"/>
      <param name="battery_topic" value="/$(arg robot_5)/batteries/status"/>
      <param name="section_action" value="/$(arg robot_5)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_5)/pilot/world_section_req/result"/>
      <param name="robot_bvr_topic" value="/$(arg robot_5)/controller/body_velocity_req"/>
      <param name="navigation_depth" value="5"/>
      <remap from="/task_monitoring" to="$(arg robot_5)/task_monitoring"/>
    </node>

    <!-- ROBOT 7 ASV -->
    <node name="dustbin_robot" pkg="multi_robot_system" type="dustbin_robot.py" output="screen" respawn="true">
      <param name="robot_ID" value="6"/>
      <param name="section_action" value="/$(arg robot_6)/pilot/world_section_req"/>
      <param name="section_result" value="/$(arg robot_6)/pilot/world_section_req/result"/>
      <param name="repulsion_radius" value="2"/>
      <param name="adrift_radius" value="6"/>
      <param name="tracking_radius" value="30"/>
    </node>

    <!-- Communications module -->
    <group if="$(arg enableCommunicationModule)">
      <node name="communications_sim" pkg="multi_robot_system" type="communications.py" output="screen" respawn="true"/>
    </group>
  </group>

  <!-- RViz -->
  <node if="$(arg enableRviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_robot_system)/scene/MRS.rviz"/>

</launch>

