<launch>
  <arg name="enableRviz" default="true"/>

  <!-- General robots information -->
  <arg name="robot_0" default="robot0"/>  <!--AUV0-->
  <arg name="robot_1" default="robot1"/>  <!--AUV1-->
  <arg name="robot_2" default="robot2"/>  <!--AUV2-->
  <arg name="robot_3" default="robot3"/>  <!--AUV3-->
  <arg name="robot_4" default="robot4"/>  <!--ASV1-->

  <!-- Autonomous vehicles architecture simulation -->
  <!-- Static transform -->
  <node name="world2ned" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 3.1415 world world_ned 100"/>

  <include file="$(find cola2_turbot)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_0)"/>
  </include>

  <include file="$(find cola2_turbot)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_1)"/>
  </include>

  <include file="$(find cola2_turbot)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_2)"/>
  </include>

  <include file="$(find cola2_turbot)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_3)"/>
  </include>

  <include file="$(find cola2_xiroi)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_4)"/>
      <arg name="safety" value="false"/>
      <arg name="enable_gui" value="false"/>
      <arg name="enable_keyboard" value="false"/>
  </include>

  <!-- Multi-robot system -->
    <group ns="/mrs">

      <!-- load the multi_robot_system.yaml parameters file -->
      <rosparam command="load" file="$(find multi_robot_system)/config/multi_robot_system.yaml"/>
      <rosparam command="load" file="$(find multi_robot_system)/config/data_extraction.yaml"/>
  
      <!-- Robot 0-->
      <node name="AUV_$(arg robot_0)" pkg="multi_robot_system" type="AUV_robot.py" output="screen" respawn="true">
        <param name="robot_ID" value="0"/>
        <param name="robot_name" value="$(arg robot_0)"/>
        <param name="navigation_depth" value="5"/>
      </node>

      <!-- Robot 1 -->
      <node name="AUV_$(arg robot_1)" pkg="multi_robot_system" type="AUV_robot.py" output="screen" respawn="true">
        <param name="robot_ID" value="1"/>
        <param name="robot_name" value="$(arg robot_1)"/>
        <param name="navigation_depth" value="7"/>
      </node>

      <!-- Robot 2 -->
      <node name="AUV_$(arg robot_2)" pkg="multi_robot_system" type="AUV_robot.py" output="screen" respawn="true">
        <param name="robot_ID" value="2"/>
        <param name="robot_name" value= "$(arg robot_2)"/>
        <param name="navigation_depth" value="9"/>
      </node>

      <!-- Robot 3 -->
      <node name="AUV_$(arg robot_3)" pkg="multi_robot_system" type="AUV_robot.py" output="screen" respawn="true">
        <param name="robot_ID" value="3"/>
        <param name="robot_name" value= "$(arg robot_3)"/>
        <param name="navigation_depth" value="11"/>
      </node>

      <!-- ACOUSTIC COMMUNICATIONS -->
      <node name="acoustic_communication" pkg="multi_robot_system" type="acoustic_communication.py" output="screen" respawn="true"/>

      <!-- ROBOT 4 ASV -->
      <node name="asv_$(arg robot_4)" pkg="multi_robot_system" type="ASV_robot.py" output="screen" respawn="true">
        <param name="robot_ID" value="4"/>
        <param name="asv_ID" value="0"/>
        <remap from="/asv0/navigator/navigation" to="/robot4/navigator/navigation"/>
      </node>
    </group>

  <!-- RViz -->
  <node if="$(arg enableRviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_robot_system)/scene/MRS.rviz"/>

</launch>
