<launch>
    <!-- Static transform -->
    <node name="world2ned" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 3.1415 world world_ned 100"/>

    <include file="$(find cola2_turbot)/launch/sim_start.launch">
        <arg name="robot_name" value="s1"/>
    </include>

    <include file="$(find cola2_turbot)/launch/sim_start.launch">
        <arg name="robot_name" value="s2"/>
    </include>

    <include file="$(find cola2_turbot)/launch/sim_start.launch">
        <arg name="robot_name" value="s3"/>
    </include>

    <include file="$(find cola2_turbot)/launch/sim_start.launch">
        <arg name="robot_name" value="s4"/>
    </include>

    <include file="$(find cola2_turbot)/launch/sim_start.launch">
        <arg name="robot_name" value="s5"/>
    </include>

</launch>

