<launch>
    <!-- Params -->
    <arg name="place" default="andratx_exterior.yaml"/>
    <arg name="robot0" default="true"/>
    <arg name="robot1" default="true"/>
    <arg name="robot2" default="true"/>
    <arg name="robot3" default="true"/>
    <arg name="robot4" default="true"/>
    <arg name="robot5" default="true"/>

    <arg name="robot0_name" default="robot0"/>
    <arg name="robot1_name" default="robot1"/>
    <arg name="robot2_name" default="robot2"/>
    <arg name="robot3_name" default="robot3"/>
    <arg name="robot4_name" default="robot4"/>
    <arg name="robot5_name" default="robot5"/>

    <arg name="robot0_consumption" default="0.01"/>
    <arg name="robot1_consumption" default="0.02"/>
    <arg name="robot2_consumption" default="0.03"/>
    <arg name="robot3_consumption" default="0.03"/>
    <arg name="robot4_consumption" default="0.03"/>
    <arg name="robot5_consumption" default="0.03"/>

    <arg name="robot0_initial_charge" default="96"/>
    <arg name="robot1_initial_charge" default="87"/>
    <arg name="robot2_initial_charge" default="91"/>
    <arg name="robot3_initial_charge" default="96"/>
    <arg name="robot4_initial_charge" default="87"/>
    <arg name="robot5_initial_charge" default="91"/>

    <!-- Common Flags -->
    <arg name="cola2_nav" default="true"/>
    <arg name="enableSafety" default="true"/>
    <arg name="openLoopTeleoperation" default="false"/>
    <arg name="enableUSBLloc" default="false"/>   
    <arg name="enableRviz" default="false"/>
    <arg name="enableMultimaster" default="false"/>

    <group if="$(arg robot0)">
        <!-- ROBOT1 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot0_name)"/>
            <arg name="battery_consumption" value="$(arg robot0_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot0_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>

    <group if="$(arg robot1)">
        <!-- ROBOT2 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot1_name)"/>
            <arg name="battery_consumption" value="$(arg robot1_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot1_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>

    <group if="$(arg robot2)">
        <!-- ROBOT3 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot2_name)"/>
            <arg name="battery_consumption" value="$(arg robot2_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot2_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>
        <group if="$(arg robot3)">
        <!-- ROBOT4 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot3_name)"/>
            <arg name="battery_consumption" value="$(arg robot3_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot3_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>
        <group if="$(arg robot4)">
        <!-- ROBOT5 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot4_name)"/>
            <arg name="battery_consumption" value="$(arg robot4_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot4_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>
        <group if="$(arg robot5)">
        <!-- ROBOT6 -->
        <include file="$(find cola2_turbot)/launch/simulation.launch">
            <!-- Params -->
            <arg name="place" value="$(arg place)"/>
            <arg name="robot_name" value="$(arg robot5_name)"/>
            <arg name="battery_consumption" value="$(arg robot5_consumption)"/>
            <arg name="initial_battery_charge" value="$(arg robot5_initial_charge)"/>
            <!-- Flags -->
            <arg name="cola2_nav" value="$(arg cola2_nav)"/>
            <arg name="enableSafety" value="$(arg enableSafety)"/>
            <arg name="openLoopTeleoperation" value="$(arg openLoopTeleoperation)"/>
            <arg name="enableUSBLloc" value="$(arg enableUSBLloc)"/>
            <arg name="enableIqua" value="false"/>
            <arg name="enableRviz" value="$(arg enableRviz)"/>
            <arg name="enableMultimaster" value="$(arg enableMultimaster)"/>
            <arg name="launchGS" value="false"/>
            <arg name="enableRelayBoard" value="false"/>
        </include>
    </group>
</launch>
